.search__input{
    border: 2px solid var(--hint);
    border-radius: 10px;
    padding: 12px 17px 12px 44px;
    font-size: 18px;
    font-weight: 500;
    color: var(--gray);
    background-image: url('../input/search.svg');
    background-repeat: no-repeat;
    background-position: 11px;
    background-color: transparent;
    background-size: 17px 17px;
    transition: border-color .2s ease-in-out;
}

.search__input::-webkit-search-cancel-button{
    position:relative;
    right:20px;  
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-image: url('../input/cancel.svg');
    background-repeat: no-repeat;
    background-position: 75%;
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}